---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hey I'm Seth";
---

<BaseLayout pageTitle={pageTitle}>
  <img src="../assets/teemo_seth.jpg" alt="a picture of the author, Seth">
  <h2>Welcome to my website!</h2>

  <h3>Check out some of my projects</h3>
  <a href="">Projects</a>
</BaseLayout>
