---
import Social from "./Social.astro";
const platform = "github";
const username = "SethMess";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        <Social platform="github" username="SethMess" />
        <Social platform="linkedin" username="in/seth-messier-7153a3329" />
    </p>
</footer>
